$primary-color: #49aa19;
$m-divider-background-color: hsla(0, 0%, 100%, 0.2) !important;
$background-color: #262626 !important;
$header-color: #1f1f1f !important;
$buy-color: #49aa19;
$up-percent-color: #49aa19;
$down-percent-color: #cf1322;